.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #466675;
    position: fixed;
    top: 0;
    width: 100%;
}

.top-menu li {
    float: left;
}

.active {
    background-color: #6A8D9D;
    color: #FFFFFF;
    text-color: #FFFFFF;
}

.top-menu li a {
    display: inline-block;
    color: #CCCCCC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-menu li a:hover {
    background-color: #597C8C;
}