/*
 * In this file you should write your main styles, or centralize your imports.
 * The contents here are just to exemplify; they are not carefully designed =)
 */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Eczar);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

/* Navigation bar */
.navbar .navbar-nav {
    float: none;
    text-align: center;
}
.navbar .navbar-nav > li {
    float: none;
}
.nav > li {
    display: inline;
}
.nav > li > a {
    display: inline-block;
}
.navbar ul {
    font-family: 'Roboto', sans-serif;
}

/* Code tag */
code {
    font-family: 'Source Code Pro', monospace;
    color: #208F57;
    background-color: #FAFAFA;
    padding:6px;
}


body {
    padding-top: 70px; /* To avoid overlap with navbar */
    font-family: 'Eczar', serif;
    font-size: 18px;
    background-color: #FEFEFE;
}

.org-ul {
    list-style: none;
}
.org-ul > li:before {
  /* For a round bullet */
  content: '\2022';
  /* For a square bullet */
  /*content:'\25A0';*/
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -10px;
  top: 0;
  color: #4466FF;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans', sans-serif;
}

footer {
    margin: 2px auto 0 auto;
    text-align: center;
}

.section-separator {
    margin: 0 auto;
    /* border: none; */
    width: 70%;
    margin-bottom:10px;
    /* height: 1px; */
    background-color: #FEFEFE;
}

.title-separator {
    margin: 0;
    width: 100%;
    margin-bottom:10px;
    background-color: #FEFEFE;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.keyword-list-name {
	margin-right: 15px;
}
.keyword-list {
	/* margin:0; */
	padding:0;
	/* position:absolute; */
	list-style:none;
	/* margin-bottom: 10px; */
	}
.keyword-list li{
    display:inline;
}
/* .keyword-list li, .keyword-list a{ */
/* 	float:left; */
/* 	height:24px; */
/* 	line-height:24px; */
/* 	position:relative; */
/* 	font-size:11px; */
/*   font-family: 'Roboto', sans-serif; */
/* 	} */
/* .keyword-list a{ */
/* 	/\* margin-left:20px; *\/ */
/* 	margin-right: 5px; */
/* 	padding:0 10px 0 12px; */
/* 	background:#0089E0; */
/* 	color:#fff; */
/* 	text-decoration:none; */
/* 	} */
/* .keyword-list a:hover{background:#555;} */

/* .keyword-list a:hover:before{border-color:transparent #555 transparent transparent;} */

#postamble {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
